# Bevel Choice Behavior Notebook

In [18]:
#imports
import os
import glob
import pandas as pd
import numpy as np

# Testing with one file
Step 1: import data

In [19]:
path = '/Users/jennygilbert/Documents/bevel_choice/by_participant_txtfiles'
df = pd.read_csv(os.path.join(path,'01.txt'), sep='\t', header = None, names = ['ID','run','img_pair','choice','side','outcome','matched','RT'])
df

     ID    run img_pair choice  side outcome     matched        RT
0     1  run01       EF      F     1  reward  mismatched  1.569796
1     1  run01       CD      D     2  punish     matched  1.601124
2     1  run01       CD      D     2  punish     matched  1.600702
3     1  run01       CD   Miss  Miss    Miss        Miss      Miss
4     1  run01       AB      A     2  reward     matched  1.580793
5     1  run01       AB      B     2  reward  mismatched  1.564219
6     1  run01       AB      B     1  punish     matched  1.612839
7     1  run01       CD      D     2  punish     matched  1.594208
8     1  run01       CD      C     1  reward     matched  1.611155
9     1  run01       AB      A     1  punish  mismatched  1.594223
10    1  run01       EF      F     2  reward  mismatched  1.593177
11    1  run01       CD      D     2  punish     matched  1.590463
12    1  run01       AB      A     2  punish  mismatched  1.590193
13    1  run01       CD      C     1  reward     matched  1.605062
14    1  run01       CD      C     1  reward     matched  1.605347
15    1  run01       AB      A     1  punish  mismatched  1.587054
16    1  run01       CD      D     1  punish     matched  1.602987
17    1  run01       AB      A     1  reward     matched  1.602018
18    1  run01       AB      B     2  punish     matched  1.600867
19    1  run01       EF      E     2  reward     matched  1.582977
20    1  run01       AB   Miss  Miss    Miss        Miss      Miss
21    1  run01       AB      A     2  reward     matched  1.614960
22    1  run01       AB      B     1  reward  mismatched  1.580498
23    1  run01       CD      C     2  reward     matched  1.596363
24    1  run01       AB      A     1  reward     matched  1.596714
25    1  run01       CD   Miss  Miss    Miss        Miss      Miss
26    1  run02       EF      F     1  reward  mismatched  1.567948
27    1  run02       CD      D     1  reward  mismatched  1.583463
28    1  run02       AB      A     1  reward     matched  1.600016
29    1  run02       AB      B     2  punish     matched  1.599418
..   ..    ...      ...    ...   ...     ...         ...       ...
74    1  run03       AB      A     2  reward     matched  1.600248
75    1  run03       CD      C     2  reward     matched  1.615614
76    1  run03       AB      B     2  reward  mismatched  1.609683
77    1  run03       AB      B     1  punish     matched  1.609303
78    1  run04       AB      A     1  reward     matched  1.567914
79    1  run04       CD      C     2  punish  mismatched  1.566817
80    1  run04       AB      A     1  reward     matched  1.600015
81    1  run04       EF      E     2  punish  mismatched  1.597668
82    1  run04       EF      F     2  reward  mismatched  1.579999
83    1  run04       EF      F     2  punish     matched  1.579331
84    1  run04       AB      A     1  reward     matched  1.595599
85    1  run04       CD      C     1  reward     matched  1.610148
86    1  run04       AB      B     2  punish     matched  1.593779
87    1  run04       AB      B     2  punish     matched  1.592215
88    1  run04       CD   Miss  Miss    Miss        Miss      Miss
89    1  run04       CD   Miss  Miss    Miss        Miss      Miss
90    1  run04       EF      E     2  reward     matched  1.571638
91    1  run04       EF      F     1  reward  mismatched  1.603959
92    1  run04       EF      E     2  punish  mismatched  1.586667
93    1  run04       AB      A     2  reward     matched  1.602250
94    1  run04       CD      C     1  reward     matched  1.602497
95    1  run04       AB      B     2  punish     matched  1.583664
96    1  run04       CD      C     1  reward     matched  1.600436
97    1  run04       AB      B     2  reward  mismatched  1.582885
98    1  run04       CD      D     1  reward  mismatched  1.598864
99    1  run04       AB   Miss  Miss    Miss        Miss      Miss
100   1  run04       AB      B     2  punish     matched  1.596398
101   1  run04       CD      D     2  punish     matched  1.610596
102   1  run04       AB      A     2  reward     matched  1.576546
103   1  run04       AB      A     2  reward     matched  1.608679

[104 rows x 8 columns]

# Split the datafile into only AB trials

In [20]:
df1 = df[df['img_pair'] == 'AB']
df1

     ID    run img_pair choice  side outcome     matched        RT
4     1  run01       AB      A     2  reward     matched  1.580793
5     1  run01       AB      B     2  reward  mismatched  1.564219
6     1  run01       AB      B     1  punish     matched  1.612839
9     1  run01       AB      A     1  punish  mismatched  1.594223
12    1  run01       AB      A     2  punish  mismatched  1.590193
15    1  run01       AB      A     1  punish  mismatched  1.587054
17    1  run01       AB      A     1  reward     matched  1.602018
18    1  run01       AB      B     2  punish     matched  1.600867
20    1  run01       AB   Miss  Miss    Miss        Miss      Miss
21    1  run01       AB      A     2  reward     matched  1.614960
22    1  run01       AB      B     1  reward  mismatched  1.580498
24    1  run01       AB      A     1  reward     matched  1.596714
28    1  run02       AB      A     1  reward     matched  1.600016
29    1  run02       AB      B     2  punish     matched  1.599418
34    1  run02       AB      A     2  reward     matched  1.594216
36    1  run02       AB      B     2  punish     matched  1.607863
39    1  run02       AB      B     2  reward  mismatched  1.587784
40    1  run02       AB      A     2  reward     matched  1.604879
41    1  run02       AB      A     2  reward     matched  1.586674
52    1  run03       AB      A     2  reward     matched  1.583751
53    1  run03       AB      B     1  punish     matched  1.615984
56    1  run03       AB      B     2  punish     matched  1.620375
57    1  run03       AB      B     2  reward  mismatched  1.613717
60    1  run03       AB      B     2  punish     matched  1.610023
62    1  run03       AB      A     2  punish  mismatched  1.595104
63    1  run03       AB      B     2  punish     matched  1.607097
69    1  run03       AB      B     2  punish     matched  1.598565
71    1  run03       AB      B     2  punish     matched  1.596828
74    1  run03       AB      A     2  reward     matched  1.600248
76    1  run03       AB      B     2  reward  mismatched  1.609683
77    1  run03       AB      B     1  punish     matched  1.609303
78    1  run04       AB      A     1  reward     matched  1.567914
80    1  run04       AB      A     1  reward     matched  1.600015
84    1  run04       AB      A     1  reward     matched  1.595599
86    1  run04       AB      B     2  punish     matched  1.593779
87    1  run04       AB      B     2  punish     matched  1.592215
93    1  run04       AB      A     2  reward     matched  1.602250
95    1  run04       AB      B     2  punish     matched  1.583664
97    1  run04       AB      B     2  reward  mismatched  1.582885
99    1  run04       AB   Miss  Miss    Miss        Miss      Miss
100   1  run04       AB      B     2  punish     matched  1.596398
102   1  run04       AB      A     2  reward     matched  1.576546
103   1  run04       AB      A     2  reward     matched  1.608679

# Calculate learned probability:
 - Need a running count of the matched outcome trials 
    - these teach A is correct via rewarding A or punishing B
 - Need a running count of the mismatched outcome trials
    - these teach B is correct via rewarding B or punishing A

In [21]:
cond = (df1.matched == 'matched')
df1['matched_running'] = cond.cumsum().where(cond, 999).astype(int)
df1

cond1 = (df1.matched == 'mismatched')
df1['mismatched_running'] = cond1.cumsum().where(cond1,999).astype(int)
df1

cond2 = (df1.matched != 'Miss')
df1['reinforcer_running'] = cond2.cumsum().where(cond2, 999).astype(int)
df1
##### this throws a wall of warnings -- its OK? Ignoring

df1 = df1.replace(999,np.NaN)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

# Calculate Learned Probability Pt. II 
- The running counts of matched and mismatched become probabilities by dividing each by the total number of reinforcers (sweet or bitter tastes) 
- The outcome is the probability of A or B being CORRECT as determined by EXPERIENCE
- Can plot this as a line plot to see how learned probability changes over time.

In [22]:
df1['a_learnedprob_correct'] = df1.matched_running / df1.reinforcer_running
df1['b_learnedprob_correct'] = df1.mismatched_running / df1.reinforcer_running
df1

,ID,run,img_pair,choice,side,outcome,matched,RT,matched_running,mismatched_running,reinforcer_running,a_learnedprob_correct,b_learnedprob_correct
4,1,run01,AB,A,2,reward,matched,1.580793,1.0,NaN,1.0,1.000000,NaN
5,1,run01,AB,B,2,reward,mismatched,1.564219,NaN,1.0,2.0,NaN,0.500000
6,1,run01,AB,B,1,punish,matched,1.612839,2.0,NaN,3.0,0.666667,NaN
9,1,run01,AB,A,1,punish,mismatched,1.594223,NaN,2.0,4.0,NaN,0.500000
12,1,run01,AB,A,2,punish,mismatched,1.590193,NaN,3.0,5.0,NaN,0.600000
15,1,run01,AB,A,1,punish,mismatched,1.587054,NaN,4.0,6.0,NaN,0.666667
17,1,run01,AB,A,1,reward,matched,1.602018,3.0,NaN,7.0,0.428571,NaN
18,1,run01,AB,B,2,punish,matched,1.600867,4.0,NaN,8.0,0.500000,NaN
20,1,run01,AB,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN
21,1,run01,AB,A,2,reward,matched,1.614960,5.0,NaN,9.0,0.555556,NaN
22,1,run01,AB,B,1,reward,mismatched,1.580498,NaN,5.0,10.0,NaN,0.500000
24,1,run01,AB,A,1,reward,matched,1.596714,6.0,NaN,11.0,0.545455,NaN
28,1,run02,AB,A,1,reward,matched,1.600016,7.0,NaN,12.0,0.583333,NaN
29,1,run02,AB,B,2,punish,matched,1.599418,8.0,NaN,13.0,0.615385,NaN
34,1,run02,AB,A,2,reward,matched,1.594216,9.0,NaN,14.0,0.642857,NaN
36,1,run02,AB,B,2,punish,matched,1.607863,10.0,NaN,15.0,0.666667,NaN
39,1,run02,AB,B,2,reward,mismatched,1.587784,NaN,6.0,16.0,NaN,0.375000
40,1,run02,AB,A,2,reward,matched,1.604879,11.0,NaN,17.0,0.647059,NaN
41,1,run02,AB,A,2,reward,matched,1.586674,12.0,NaN,18.0,0.666667,NaN
52,1,run03,AB,A,2,reward,matched,1.583751,13.0,NaN,19.0,0.684211,NaN
53,1,run03,AB,B,1,punish,matched,1.615984,14.0,NaN,20.0,0.700000,NaN
56,1,run03,AB,B,2,punish,matched,1.620375,15.0,NaN,21.0,0.714286,NaN
57,1,run03,AB,B,2,reward,mismatched,1.613717,NaN,7.0,22.0,NaN,0.318182
60,1,run03,AB,B,2,punish,matched,1.610023,16.0,NaN,23.0,0.695652,NaN
62,1,run03,AB,A,2,punish,mismatched,1.595104,NaN,8.0,24.0,NaN,0.333333
63,1,run03,AB,B,2,punish,matched,1.607097,17.0,NaN,25.0,0.680000,NaN
69,1,run03,AB,B,2,punish,matched,1.598565,18.0,NaN,26.0,0.692308,NaN
71,1,run03,AB,B,2,punish,matched,1.596828,19.0,NaN,27.0,0.703704,NaN
74,1,run03,AB,A,2,reward,matched,1.600248,20.0,NaN,28.0,0.714286,NaN
76,1,run03,AB,B,2,reward,mismatched,1.609683,NaN,9.0,29.0,NaN,0.310345
77,1,run03,AB,B,1,punish,matched,1.609303,21.0,NaN,30.0,0.700000,NaN
78,1,run04,AB,A,1,reward,matched,1.567914,22.0,NaN,31.0,0.709677,NaN
80,1,run04,AB,A,1,reward,matched,1.600015,23.0,NaN,32.0,0.718750,NaN
84,1,run04,AB,A,1,reward,matched,1.595599,24.0,NaN,33.0,0.727273,NaN
86,1,run04,AB,B,2,punish,matched,1.593779,25.0,NaN,34.0,0.735294,NaN
87,1,run04,AB,B,2,punish,matched,1.592215,26.0,NaN,35.0,0.742857,NaN
93,1,run04,AB,A,2,reward,matched,1.602250,27.0,NaN,36.0,0.750000,NaN
95,1,run04,AB,B,2,punish,matched,1.583664,28.0,NaN,37.0,0.756757,NaN
97,1,run04,AB,B,2,reward,mismatched,1.582885,NaN,10.0,38.0,NaN,0.263158
99,1,run04,AB,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN
100,1,run04,AB,B,2,punish,matched,1.596398,29.0,NaN,39.0,0.743590,NaN
102,1,run04,AB,A,2,reward,matched,1.576546,30.0,NaN,40.0,0.750000,NaN
103,1,run04,AB,A,2,reward,matched,1.608679,31.0,NaN,41.0,0.756098,NaN

# Now, onto calculating response to reinforcement: 
- There are 5 possible ways to response to reinforcement on this task 

1. Exploit Reward: you got rewarded on the previous trial, you pick the same shape 
2. Exploit Punishment: you got punished on the previous trial, you pick the other shape
3. Explore Reward: you got rewared on the the previous trial, but you try the other shape  
4. Explore Punishment: you got punished on the previous trial, but you pick the same shape 
5. Miss: you don't choose anything-- maybe because you're thinking, maybe you're bored, maybe you're non-compliant. Unclear, but worth looking into. 

Our questions with the results are: 
- Can we catergorize people as explorers or exploiters? Is there a sliding scale we can use? 
- Does brain response for exploring vs. exploiting look different? 
- Does exploring or exploiting correlate with posstest performance? 
- Do misses occur more frequently after reward or punishment? Does the number of misses map onto posttest behavior (more misses = poorer posttest performance?) 

# First, isolate the choice & outcome trials

In [42]:
df2 = df1[['choice','outcome']].copy()
df2

    choice outcome
4        A  reward
5        B  reward
6        B  punish
9        A  punish
12       A  punish
15       A  punish
17       A  reward
18       B  punish
20    Miss    Miss
21       A  reward
22       B  reward
24       A  reward
28       A  reward
29       B  punish
34       A  reward
36       B  punish
39       B  reward
40       A  reward
41       A  reward
52       A  reward
53       B  punish
56       B  punish
57       B  reward
60       B  punish
62       A  punish
63       B  punish
69       B  punish
71       B  punish
74       A  reward
76       B  reward
77       B  punish
78       A  reward
80       A  reward
84       A  reward
86       B  punish
87       B  punish
93       A  reward
95       B  punish
97       B  reward
99    Miss    Miss
100      B  punish
102      A  reward
103      A  reward

# Now, we need to loop through IF statements: 
- Loop 1: for row(i) in df, does choice in row(i) = choice in row(i+1)? 
    - IF True
        - Does outcome in row(i) = reward? 
            - IF T: rein_response = exploit_reward
            - IF F: rein_response = explore_punish
    - IF False: 
         - Does outcome in row(i) = punish? 
            - IF T: rein_response = explore_reward
            - IF F: rein_response = exploit_punish
            
Sooooo this is 2 levels of if statements, applied via a loop to all rows in the df. Yuck. 

# My workflow: 
- Make a new column for "behavior" - did they choose a new letter or the same letter as the prior trial? 
- Make a new column for "reinforcer_response" - was this in response to reward or punishment

In [43]:
df2["behavior"] = ""
df2

    choice outcome behavior
4        A  reward
5        B  reward
6        B  punish
9        A  punish
12       A  punish
15       A  punish
17       A  reward
18       B  punish
20    Miss    Miss
21       A  reward
22       B  reward
24       A  reward
28       A  reward
29       B  punish
34       A  reward
36       B  punish
39       B  reward
40       A  reward
41       A  reward
52       A  reward
53       B  punish
56       B  punish
57       B  reward
60       B  punish
62       A  punish
63       B  punish
69       B  punish
71       B  punish
74       A  reward
76       B  reward
77       B  punish
78       A  reward
80       A  reward
84       A  reward
86       B  punish
87       B  punish
93       A  reward
95       B  punish
97       B  reward
99    Miss    Miss
100      B  punish
102      A  reward
103      A  reward

In [44]:
count = df2.choice.count()
count = count - 1 
list = np.arange(0, count)
list

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41])

In [45]:
for i in list: 
    if df2.iloc[i, 0] == df2.iloc[i+1, 0]:
        df2.iloc[i+1, 2] = 'same letter'
    
    elif df2.iloc[i,0] == 'Miss':
        df2.iloc[i,2] = 'miss'
        df2.iloc[i+1, 2] = 'post-miss'
    
    else: 
        df2.iloc[i+1, 2] ='new letter'

df2

    choice outcome     behavior
4        A  reward
5        B  reward   new letter
6        B  punish  same letter
9        A  punish   new letter
12       A  punish  same letter
15       A  punish  same letter
17       A  reward  same letter
18       B  punish   new letter
20    Miss    Miss         miss
21       A  reward    post-miss
22       B  reward   new letter
24       A  reward   new letter
28       A  reward  same letter
29       B  punish   new letter
34       A  reward   new letter
36       B  punish   new letter
39       B  reward  same letter
40       A  reward   new letter
41       A  reward  same letter
52       A  reward  same letter
53       B  punish   new letter
56       B  punish  same letter
57       B  reward  same letter
60       B  punish  same letter
62       A  punish   new letter
63       B  punish   new letter
69       B  punish  same letter
71       B  punish  same letter
74       A  reward   new letter
76       B  reward   new letter
77       B  punish  same letter
78       A  reward   new letter
80       A  reward  same letter
84       A  reward  same letter
86       B  punish   new letter
87       B  punish  same letter
93       A  reward   new letter
95       B  punish   new letter
97       B  reward  same letter
99    Miss    Miss         miss
100      B  punish    post-miss
102      A  reward   new letter
103      A  reward  same letter

In [46]:
df2["reinforcer_response"] = ""
df2

    choice outcome     behavior reinforcer_response
4        A  reward
5        B  reward   new letter
6        B  punish  same letter
9        A  punish   new letter
12       A  punish  same letter
15       A  punish  same letter
17       A  reward  same letter
18       B  punish   new letter
20    Miss    Miss         miss
21       A  reward    post-miss
22       B  reward   new letter
24       A  reward   new letter
28       A  reward  same letter
29       B  punish   new letter
34       A  reward   new letter
36       B  punish   new letter
39       B  reward  same letter
40       A  reward   new letter
41       A  reward  same letter
52       A  reward  same letter
53       B  punish   new letter
56       B  punish  same letter
57       B  reward  same letter
60       B  punish  same letter
62       A  punish   new letter
63       B  punish   new letter
69       B  punish  same letter
71       B  punish  same letter
74       A  reward   new letter
76       B  reward   new letter
77       B  punish  same letter
78       A  reward   new letter
80       A  reward  same letter
84       A  reward  same letter
86       B  punish   new letter
87       B  punish  same letter
93       A  reward   new letter
95       B  punish   new letter
97       B  reward  same letter
99    Miss    Miss         miss
100      B  punish    post-miss
102      A  reward   new letter
103      A  reward  same letter

In [47]:
for i in list: 
    if df2.iloc[i+1, 2] == 'same letter' and df2.iloc[i, 1] == 'reward':
        df2.iloc[i+1, 3] = 'exploit_reward'
    
    elif df2.iloc[i+1, 2] == 'same letter' and df2.iloc[i, 1] == 'punish':
        df2.iloc[i+1, 3] = 'explore_punish'

    elif df2.iloc[i+1, 2] == 'new letter' and df2.iloc[i, 1] == 'reward':
        df2.iloc[i+1, 3] = 'explore_reward'
    
    elif df2.iloc[i+1, 2] == 'new letter' and df2.iloc[i, 1] == 'punish':
        df2.iloc[i+1, 3] = 'exploit_punish'   
    
    else: df2.iloc[i+1, 3] = 'miss_response'

In [48]:
df2

    choice outcome     behavior reinforcer_response
4        A  reward
5        B  reward   new letter      explore_reward
6        B  punish  same letter      exploit_reward
9        A  punish   new letter      exploit_punish
12       A  punish  same letter      explore_punish
15       A  punish  same letter      explore_punish
17       A  reward  same letter      explore_punish
18       B  punish   new letter      explore_reward
20    Miss    Miss         miss       miss_response
21       A  reward    post-miss       miss_response
22       B  reward   new letter      explore_reward
24       A  reward   new letter      explore_reward
28       A  reward  same letter      exploit_reward
29       B  punish   new letter      explore_reward
34       A  reward   new letter      exploit_punish
36       B  punish   new letter      explore_reward
39       B  reward  same letter      explore_punish
40       A  reward   new letter      explore_reward
41       A  reward  same letter      exploit_reward
52       A  reward  same letter      exploit_reward
53       B  punish   new letter      explore_reward
56       B  punish  same letter      explore_punish
57       B  reward  same letter      explore_punish
60       B  punish  same letter      exploit_reward
62       A  punish   new letter      exploit_punish
63       B  punish   new letter      exploit_punish
69       B  punish  same letter      explore_punish
71       B  punish  same letter      explore_punish
74       A  reward   new letter      exploit_punish
76       B  reward   new letter      explore_reward
77       B  punish  same letter      exploit_reward
78       A  reward   new letter      exploit_punish
80       A  reward  same letter      exploit_reward
84       A  reward  same letter      exploit_reward
86       B  punish   new letter      explore_reward
87       B  punish  same letter      explore_punish
93       A  reward   new letter      exploit_punish
95       B  punish   new letter      explore_reward
97       B  reward  same letter      explore_punish
99    Miss    Miss         miss       miss_response
100      B  punish    post-miss       miss_response
102      A  reward   new letter      exploit_punish
103      A  reward  same letter      exploit_reward

In [30]:
#df1.join(df2['reinforcer_response'])
df1['reinforcer_response'] = pd.Series(df2['reinforcer_response'])

In [31]:
df1

,ID,run,img_pair,choice,side,outcome,matched,RT,matched_running,mismatched_running,reinforcer_running,a_learnedprob_correct,b_learnedprob_correct,reinforcer_response
4,1,run01,AB,A,2,reward,matched,1.580793,1.0,NaN,1.0,1.000000,NaN,
5,1,run01,AB,B,2,reward,mismatched,1.564219,NaN,1.0,2.0,NaN,0.500000,explore_reward
6,1,run01,AB,B,1,punish,matched,1.612839,2.0,NaN,3.0,0.666667,NaN,exploit_reward
9,1,run01,AB,A,1,punish,mismatched,1.594223,NaN,2.0,4.0,NaN,0.500000,exploit_punish
12,1,run01,AB,A,2,punish,mismatched,1.590193,NaN,3.0,5.0,NaN,0.600000,explore_punish
15,1,run01,AB,A,1,punish,mismatched,1.587054,NaN,4.0,6.0,NaN,0.666667,explore_punish
17,1,run01,AB,A,1,reward,matched,1.602018,3.0,NaN,7.0,0.428571,NaN,explore_punish
18,1,run01,AB,B,2,punish,matched,1.600867,4.0,NaN,8.0,0.500000,NaN,explore_reward
20,1,run01,AB,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,exploit_punish
21,1,run01,AB,A,2,reward,matched,1.614960,5.0,NaN,9.0,0.555556,NaN,miss_response
22,1,run01,AB,B,1,reward,mismatched,1.580498,NaN,5.0,10.0,NaN,0.500000,explore_reward
24,1,run01,AB,A,1,reward,matched,1.596714,6.0,NaN,11.0,0.545455,NaN,explore_reward
28,1,run02,AB,A,1,reward,matched,1.600016,7.0,NaN,12.0,0.583333,NaN,exploit_reward
29,1,run02,AB,B,2,punish,matched,1.599418,8.0,NaN,13.0,0.615385,NaN,explore_reward
34,1,run02,AB,A,2,reward,matched,1.594216,9.0,NaN,14.0,0.642857,NaN,exploit_punish
36,1,run02,AB,B,2,punish,matched,1.607863,10.0,NaN,15.0,0.666667,NaN,explore_reward
39,1,run02,AB,B,2,reward,mismatched,1.587784,NaN,6.0,16.0,NaN,0.375000,explore_punish
40,1,run02,AB,A,2,reward,matched,1.604879,11.0,NaN,17.0,0.647059,NaN,explore_reward
41,1,run02,AB,A,2,reward,matched,1.586674,12.0,NaN,18.0,0.666667,NaN,exploit_reward
52,1,run03,AB,A,2,reward,matched,1.583751,13.0,NaN,19.0,0.684211,NaN,exploit_reward
53,1,run03,AB,B,1,punish,matched,1.615984,14.0,NaN,20.0,0.700000,NaN,explore_reward
56,1,run03,AB,B,2,punish,matched,1.620375,15.0,NaN,21.0,0.714286,NaN,explore_punish
57,1,run03,AB,B,2,reward,mismatched,1.613717,NaN,7.0,22.0,NaN,0.318182,explore_punish
60,1,run03,AB,B,2,punish,matched,1.610023,16.0,NaN,23.0,0.695652,NaN,exploit_reward
62,1,run03,AB,A,2,punish,mismatched,1.595104,NaN,8.0,24.0,NaN,0.333333,exploit_punish
63,1,run03,AB,B,2,punish,matched,1.607097,17.0,NaN,25.0,0.680000,NaN,exploit_punish
69,1,run03,AB,B,2,punish,matched,1.598565,18.0,NaN,26.0,0.692308,NaN,explore_punish
71,1,run03,AB,B,2,punish,matched,1.596828,19.0,NaN,27.0,0.703704,NaN,explore_punish
74,1,run03,AB,A,2,reward,matched,1.600248,20.0,NaN,28.0,0.714286,NaN,exploit_punish
76,1,run03,AB,B,2,reward,mismatched,1.609683,NaN,9.0,29.0,NaN,0.310345,explore_reward
77,1,run03,AB,B,1,punish,matched,1.609303,21.0,NaN,30.0,0.700000,NaN,exploit_reward
78,1,run04,AB,A,1,reward,matched,1.567914,22.0,NaN,31.0,0.709677,NaN,exploit_punish
80,1,run04,AB,A,1,reward,matched,1.600015,23.0,NaN,32.0,0.718750,NaN,exploit_reward
84,1,run04,AB,A,1,reward,matched,1.595599,24.0,NaN,33.0,0.727273,NaN,exploit_reward
86,1,run04,AB,B,2,punish,matched,1.593779,25.0,NaN,34.0,0.735294,NaN,explore_reward
87,1,run04,AB,B,2,punish,matched,1.592215,26.0,NaN,35.0,0.742857,NaN,explore_punish
93,1,run04,AB,A,2,reward,matched,1.602250,27.0,NaN,36.0,0.750000,NaN,exploit_punish
95,1,run04,AB,B,2,punish,matched,1.583664,28.0,NaN,37.0,0.756757,NaN,explore_reward
97,1,run04,AB,B,2,reward,mismatched,1.582885,NaN,10.0,38.0,NaN,0.263158,explore_punish
99,1,run04,AB,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,explore_reward
100,1,run04,AB,B,2,punish,matched,1.596398,29.0,NaN,39.0,0.743590,NaN,miss_response
102,1,run04,AB,A,2,reward,matched,1.576546,30.0,NaN,40.0,0.750000,NaN,exploit_punish
103,1,run04,AB,A,2,reward,matched,1.608679,31.0,NaN,41.0,0.756098,NaN,exploit_reward

# Do the same for the CD pair

In [32]:
#REDO FOR CD
df3 = df[df['img_pair'] == 'CD']

cond = (df3.matched == 'matched')
df3['matched_running'] = cond.cumsum().where(cond, 999).astype(int)
cond1 = (df3.matched == 'mismatched')
df3['mismatched_running'] = cond1.cumsum().where(cond1,999).astype(int)
cond2 = (df3.matched != 'Miss')
df3['reinforcer_running'] = cond2.cumsum().where(cond2, 999).astype(int)

df3 = df3.replace(999,np.NaN)

df3['c_learnedprob_correct'] = df3.matched_running / df3.reinforcer_running
df3['d_learnedprob_correct'] = df3.mismatched_running / df3.reinforcer_running
    
#create new variable for reinforcer response 
df2 = df3[['choice','outcome']].copy()
df2["behavior"] = ""
count = df2.choice.count()
count = count - 1 
list = np.arange(0, count)

for i in list: 
    if df2.iloc[i, 0] == df2.iloc[i+1, 0]:
        df2.iloc[i+1, 2] = 'same letter'
    
    elif df2.iloc[i,0] == 'Miss':
        df2.iloc[i+1, 2] = 'post-miss'
        df2.iloc[i,2] = 'miss'
    else: 
        df2.iloc[i+1, 2] ='new letter'
    
df2["reinforcer_response"] = ""
    
for i in list: 
    if df2.iloc[i+1, 2] == 'same letter' and df2.iloc[i, 1] == 'reward':
        df2.iloc[i+1, 3] = 'exploit_reward'
    
    elif df2.iloc[i+1, 2] == 'same letter' and df2.iloc[i, 1] == 'punish':
        df2.iloc[i+1, 3] = 'explore_punish'

    elif df2.iloc[i+1, 2] == 'new letter' and df2.iloc[i, 1] == 'reward':
        df2.iloc[i+1, 3] = 'explore_reward'
    
    elif df2.iloc[i+1, 2] == 'new letter' and df2.iloc[i, 1] == 'punish':
        df2.iloc[i+1, 3] = 'exploit_punish'   
    
    else: df2.iloc[i+1, 3] = 'miss_response'
    
df3['reinforcer_response'] = pd.Series(df2['reinforcer_response'])
df3

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,ID,run,img_pair,choice,side,outcome,matched,RT,matched_running,mismatched_running,reinforcer_running,c_learnedprob_correct,d_learnedprob_correct,reinforcer_response
1,1,run01,CD,D,2,punish,matched,1.601124,1.0,NaN,1.0,1.000000,NaN,
2,1,run01,CD,D,2,punish,matched,1.600702,2.0,NaN,2.0,1.000000,NaN,explore_punish
3,1,run01,CD,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,exploit_punish
7,1,run01,CD,D,2,punish,matched,1.594208,3.0,NaN,3.0,1.000000,NaN,miss_response
8,1,run01,CD,C,1,reward,matched,1.611155,4.0,NaN,4.0,1.000000,NaN,exploit_punish
11,1,run01,CD,D,2,punish,matched,1.590463,5.0,NaN,5.0,1.000000,NaN,explore_reward
13,1,run01,CD,C,1,reward,matched,1.605062,6.0,NaN,6.0,1.000000,NaN,exploit_punish
14,1,run01,CD,C,1,reward,matched,1.605347,7.0,NaN,7.0,1.000000,NaN,exploit_reward
16,1,run01,CD,D,1,punish,matched,1.602987,8.0,NaN,8.0,1.000000,NaN,explore_reward
23,1,run01,CD,C,2,reward,matched,1.596363,9.0,NaN,9.0,1.000000,NaN,exploit_punish
25,1,run01,CD,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,explore_reward
27,1,run02,CD,D,1,reward,mismatched,1.583463,NaN,1.0,10.0,NaN,0.100000,miss_response
30,1,run02,CD,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,explore_reward
31,1,run02,CD,C,1,reward,matched,1.596084,10.0,NaN,11.0,0.909091,NaN,miss_response
33,1,run02,CD,C,1,reward,matched,1.594204,11.0,NaN,12.0,0.916667,NaN,exploit_reward
35,1,run02,CD,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,explore_reward
37,1,run02,CD,D,1,punish,matched,1.608114,12.0,NaN,13.0,0.923077,NaN,miss_response
43,1,run02,CD,D,1,punish,matched,1.617212,13.0,NaN,14.0,0.928571,NaN,explore_punish
44,1,run02,CD,C,2,reward,matched,1.618557,14.0,NaN,15.0,0.933333,NaN,exploit_punish
46,1,run02,CD,C,2,reward,matched,1.580839,15.0,NaN,16.0,0.937500,NaN,exploit_reward
49,1,run02,CD,C,1,punish,mismatched,1.610976,NaN,2.0,17.0,NaN,0.117647,exploit_reward
50,1,run02,CD,D,2,punish,matched,1.609830,16.0,NaN,18.0,0.888889,NaN,exploit_punish
51,1,run02,CD,D,1,reward,mismatched,1.592104,NaN,3.0,19.0,NaN,0.157895,explore_punish
55,1,run03,CD,D,1,reward,mismatched,1.616161,NaN,4.0,20.0,NaN,0.200000,exploit_reward
58,1,run03,CD,D,2,punish,matched,1.627984,17.0,NaN,21.0,0.809524,NaN,exploit_reward
65,1,run03,CD,D,1,punish,matched,1.621025,18.0,NaN,22.0,0.818182,NaN,explore_punish
66,1,run03,CD,C,1,reward,matched,1.606979,19.0,NaN,23.0,0.826087,NaN,exploit_punish
67,1,run03,CD,D,2,punish,matched,1.618837,20.0,NaN,24.0,0.833333,NaN,explore_reward
72,1,run03,CD,C,1,punish,mismatched,1.615141,NaN,5.0,25.0,NaN,0.200000,exploit_punish
75,1,run03,CD,C,2,reward,matched,1.615614,21.0,NaN,26.0,0.807692,NaN,explore_punish
79,1,run04,CD,C,2,punish,mismatched,1.566817,NaN,6.0,27.0,NaN,0.222222,exploit_reward
85,1,run04,CD,C,1,reward,matched,1.610148,22.0,NaN,28.0,0.785714,NaN,explore_punish
88,1,run04,CD,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,explore_reward
89,1,run04,CD,Miss,Miss,Miss,Miss,Miss,NaN,NaN,NaN,NaN,NaN,miss_response
94,1,run04,CD,C,1,reward,matched,1.602497,23.0,NaN,29.0,0.793103,NaN,miss_response
96,1,run04,CD,C,1,reward,matched,1.600436,24.0,NaN,30.0,0.800000,NaN,exploit_reward
98,1,run04,CD,D,1,reward,mismatched,1.598864,NaN,7.0,31.0,NaN,0.225806,explore_reward
101,1,run04,CD,D,2,punish,matched,1.610596,25.0,NaN,32.0,0.781250,NaN,exploit_reward

# Do for EF pair

In [ ]:
# REDO FOR EF
df4 = df[df['img_pair'] == 'EF']

cond = (df4.matched == 'matched')
df4['matched_running'] = cond.cumsum().where(cond, 999).astype(int)
cond1 = (df4.matched == 'mismatched')
df4['mismatched_running'] = cond1.cumsum().where(cond1,999).astype(int)
cond2 = (df4.matched != 'Miss')
df4['reinforcer_running'] = cond2.cumsum().where(cond2, 999).astype(int)

df4 = df4.replace(999,np.NaN)

df4['e_learnedprob_correct'] = df4.matched_running / df4.reinforcer_running
df4['f_learnedprob_correct'] = df4.mismatched_running / df4.reinforcer_running
    
#create new variable for reinforcer response 
df2 = df4[['choice','outcome']].copy()
df2["behavior"] = ""
count = df2.choice.count()
count = count - 1 
list = np.arange(0, count)

for i in list: 
    if df2.iloc[i, 0] == df2.iloc[i+1, 0]:
        df2.iloc[i+1, 2] = 'same letter'
    
    elif df2.iloc[i,0] == 'Miss':
        df2.iloc[i+1, 2] = 'post-miss'
        df2.iloc[i,2] = 'miss'
    else: 
        df2.iloc[i+1, 2] ='new letter'
    
df2["reinforcer_response"] = ""
    
for i in list: 
    if df2.iloc[i+1, 2] == 'same letter' and df2.iloc[i, 1] == 'reward':
        df2.iloc[i+1, 3] = 'exploit_reward'
    
    elif df2.iloc[i+1, 2] == 'same letter' and df2.iloc[i, 1] == 'punish':
        df2.iloc[i+1, 3] = 'explore_punish'

    elif df2.iloc[i+1, 2] == 'new letter' and df2.iloc[i, 1] == 'reward':
        df2.iloc[i+1, 3] = 'explore_reward'
    
    elif df2.iloc[i+1, 2] == 'new letter' and df2.iloc[i, 1] == 'punish':
        df2.iloc[i+1, 3] = 'exploit_punish'   
    
    else: df2.iloc[i+1, 3] = 'miss_response'
    
df4['reinforcer_response'] = pd.Series(df2['reinforcer_response'])
df4

# Combine DataFrames and Save!

In [41]:
combo_unsort = pd.concat([df1,df3,df4], sort=True)
combo_long = combo_unsort.sort_index()

cols = ['ID', 'run','img_pair','choice','side','outcome','matched','RT','a_learnedprob_correct','b_learnedprob_correct','c_learnedprob_correct','d_learnedprob_correct','e_learnedprob_correct','f_learnedprob_correct','reinforcer_response']
combo_clean = combo_long[cols]
combo_clean

combo_clean.to_csv('01.csv')